.red-container{
  background-color:red;
  height:100px;
  width:100px;
  position:absolute;
  left:200px;
  top:200px;
}
body {margin:0}
h1 {margin-top: 0}
.blue-container {
  background-color:blue;
  height:100px;
  width:100px;
  position:absolute;
  left:100px;
  top:100px;
}
.yellow-container {
  background-color:yellow;
  height:100px;
  width:100px;
  position:absolute;
}
