body {
  margin:0;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #40514E;
}
.first-container{
  background-color: #EAF6F6;
  padding-top:100px;
  position: relative;
  /*这种只适用于inline elements& full width block elements,所以在其他情况下怎么做
  使用叫做auto 的value in the margin(e.g. line15),which when applied will center
   the element either vertically or horizontally*/
}

h1 {
  /* 在有width 的情况下要这样处理
  width: 30%;
  margin: 0 auto 0 auto; or 0 auto; */
  margin: 80px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
  line-height: 2;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  padding:10px;
}

.introduction {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color:purple;
  font-weight: normal;

}

p {
  color: #40514E;
font-size: 10px;
line-height: 2;
}

hr {border-style:none;  /*or将39\40\41合并，写成 border: dotted #EAF6F6 5px 然后border-bottom/top:none;其他不变还是要正常写*/
border-top-style:dotted;
border-width:5px;
border-color:#EAF6F6;
width:5%;
margin:60px auto 60px auto;}

h3 {
  color:#11999E;
  font-size: 10px;
}

a{
  color:#11999E;
  font-family: "Montserrat",sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color:#EAF6F6;
}

.skill-row {
  width: 50%;
  margin:60px auto auto auto;
  text-align: left;
  margin-top:60px;
}

.myself-img {
    width: 25%;
}

.piano-img {
  width: 25%;
float:left;
margin-right: 30px;}

.computer-img {
  width: 25%;
float:right;
margin-right: 30px;
}

.contact-message {
  width: 40%;
  margin:40px auto 40px;
}

.middle-container {
margin-top:60px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top:60px;
}
.footer-link {
  font-size: 10px;
  color:#EAF6F6;
}

.copyright {
  color: #EAF6F6;
  padding:20px 0;
  font-size: 0.75rem;
}

span {
  text-decoration: underline;
}

/* 也可以在html中写<span class="xx">xx</span>
然后在css中写.xx {}   */
.bottom-cloud {
  position: absolute;
  left:150px;
  bottom:300px;
}
.top-cloud {
  position: absolute;
  right:300px;
  top:40px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.last-word {
  margin-bottom: 40px;
}
.intro{
  width:30%;
  margin:auto;
}
